@{
  Layout = "_Layout";
}

@using Pierres.Models;
<div class="subheader bg">
  <h4>Welcome to Pierre's Sweet & Savory Treats!</h4>
</div>
<br/>

<div class="row">
  <div class="col">
    <div class="splash card">
      <div class="card-header">
        <h5>Treats</h5>
      </div>
      <div class="card-body">
        @if(Model["treats"].Length == 0)
        {
          <p>There are currently no treats available.</p>
          @if(User.Identity.IsAuthenticated)
          {
            @Html.ActionLink("Add a Treat", "Create", "Treats")
          }
        }
        else
        {
          <ul class="splash-list">
            @foreach(Treat treat in Model["treats"])
            {
              <li>@Html.ActionLink(treat.Type, "Details", "Treats", new { id = treat.TreatId })</li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
  <div class="col">
    <div class="splash card">
      <div class="card-header">
        <h5>Flavors</h5>
      </div>
      <div class="card-body">
        @if(Model["flavors"].Length == 0)
        {
          <p>There are currently no flavors available.</p>
          @if(User.Identity.IsAuthenticated)
          {
            @Html.ActionLink("Add a Flavor", "Create", "Flavors")
          }
        }
        else
        {
          <ul class="splash-list">
            @foreach(Flavor flavor in Model["flavors"])
            {
              <li>@Html.ActionLink(flavor.Type, "Details", "Flavors", new { id = flavor.FlavorId })</li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
</div>

@if((Model["treats"].Length == 0) && (Model["flavors"].Length == 0) && !User.Identity.IsAuthenticated)
{
  <br/>
  <div class="row justify-content-center">
    <div class="card col-5 container">
      <div class="card-body">
        <h5></h5>
        <h6>
          To add new items, 
          @Html.ActionLink("Sign In", "Login", "Account") or
          @Html.ActionLink("Register a New Account", "Register", "Account")!
        </h6>
      </div>
    </div>
  </div>
}