@{
  Layout = "_Layout";
}

@using Pierres.Models;
@model Pierres.Models.Treat;

<h4>Edit Treat > @Model.Type</h4>

<br/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.TreatId)

  @Html.LabelFor(m => m.Type)
  <br/>
  @Html.EditorFor(m => m.Type)
  <br/>
  @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
  <br/>
  <input type="submit" value="Save" class="btn btn-primary" />
  @Html.ActionLink("Cancel", "Details", new { id = @Model.TreatId })
}