<div class="d-flex justify-content-center head">
  <nav class="header">
    <div class="row">
      <div class="col brand">
        <img src="~/img/logo.png" class="logo">
      </div>
    </div>
    <div class="row">
      <div class="col-12 navbar">
        @Html.ActionLink("Home", "Index", "Home")
        <br/>
        @Html.ActionLink("Treats", "Index", "Treats")
        <br/>
        @Html.ActionLink("Flavors", "Index", "Flavors")
        <br/>
        @Html.ActionLink("Account", "Index", "Account")
      </div>
    </div>
  </nav>
</div>
@* <hr/> *@
<br/>
<div class="nav-account">
  @Html.ActionLink((User.Identity.IsAuthenticated ? User.Identity.Name : ""), "Index", "Account")
</div>