@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor;

<div class="subheader bg">
  <h4>Pierre's Flavors > Add Treat</h4>
</div>
<br/>

<div class="container col-8">
  <div class="card">
    <div class="card-header">
      <h4>@Model.Type</h4>
      <h5>Assign a Treat</h5>
    </div>
    @if(ViewBag.IsNoTreats)
    {
      <div class="card-body">
        <p>There are currently no treats available.</p>
        <p>Please @Html.ActionLink("Create a Treat", "Create", "Treats") first.</p>
      </div>
      <div class="card-footer">
        @Html.ActionLink("Cancel", "Details", new { id = @Model.FlavorId })
      </div>
    }
    else
    {
      @using (Html.BeginForm())
      {
        <div class="card-body">
          @Html.HiddenFor(m => m.FlavorId)

          @Html.Label("Select a Treat")
          <br/>
          @Html.DropDownList("TreatId")
          <br/>
          <br/>
        </div>
        <div class="card-footer">
          <input type="submit" value="Add" class="btn btn-primary" />
          &nbsp;&nbsp;@Html.ActionLink("Cancel", "Details", new { id = @Model.FlavorId })
        </div>
      }
    }
  </div>
</div>