@{
  Layout = "_Layout";
}

@using System.Collections.Generic;
@using Pierres.Models;
@model Pierres.Models.Flavor;

<h4>Flavor Details</h4>

<br/>

<div class="card">
  <div class="card-header">
    <h5>@Model.Type</h5>
    @Html.ActionLink("Add a Treat", "AddTreat", new { id = @Model.FlavorId })
    <br/>
    <small>@Html.ActionLink("Edit Flavor", "Edit", new { id = @Model.FlavorId })</small> |
    <small>@Html.ActionLink("Remove Flavor", "Delete", new { id = @Model.FlavorId })</small>
  </div>
  <div class="card-body">
    @if(@Model.JoinEntities.Count == 0)
    {
      <p>There are no treats associated with this flavor.</p>
    }
    else
    {
      <h6>Flavors:</h6>
      <ul>
        @foreach(TreatFlavor join in Model.JoinEntities)
        {
          @using (Html.BeginForm("DeleteJoin", "Flavors"))
          {
            <li>
              @Html.ActionLink(join.Treat.Type, "Details", "Treats", new { id = join.TreatId })
              @Html.Hidden("joinId", @join.TreatFlavorId)
              <input type="submit" value="X" class="btn btn-x btn-sm btn-outline-danger" />
            </li>
          }
        }
      </ul>
    }
  </div>
</div>