@{
  Layout = "_Layout";
}

@using Pierres.Models;
@model Pierres.Models.Flavor;

<h4>Pierre's Flavors > Edit</h4>

<br/>

<div class="container col-8">
  @using (Html.BeginForm())
  {
    <div class="card">
      <div class="card-header">
        <h4>@Model.Type</h4>
        <h6>Edit Flavor</h6>
      </div>
      <div class="card-body">
        @Html.HiddenFor(m => m.FlavorId)

        @Html.LabelFor(m => m.Type)
        <br/>
        @Html.TextBoxFor(m => m.Type)
        <br/>
        @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
        <br/>
      </div>
      <div class="card-footer">
        <input type="submit" value="Save" class="btn btn-primary" />
        &nbsp;&nbsp;@Html.ActionLink("Cancel", "Details", new { id = @Model.FlavorId })
      </div>
    </div>
  }
</div>